$color-DarkBlue: #172339;
$color-Grey: #49566D;
$color-Cream: #F3EDE7;
$color-White: #FAF8F6;
$color-Purple: #A060FF;
$color-Pink: #CB30E3;
$color-Orange:#FFA84E;
$color-Gradient1: linear-gradient(135deg, $color-Purple 0%, $color-Pink 50%, $color-Orange 100%);

body {
    margin: 0;
    background-color: $color-White;
    font-family: "Epilogue", sans-serif;
}
p {
    line-height: 1.6;
    color: $color-Grey;
}

* {
    box-sizing: border-box;
}

* :first-child {
    margin-top: 0;
}

* :last-child{
    margin-bottom: 0;
}