

.header
 {
    padding: 1.5rem 4.2% 0;
    margin-bottom: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo
    {
        width: 81px;
    }

    &__btn
    {
        padding: .75rem 1rem;
        border-radius: 6px;
        background-color: transparent;
        border:solid 1px $color-DarkBlue;
        font-weight: bold;
        font-size: .875rem;
        cursor: pointer;
        transition: all 300ms;

        &:hover
        {
            background-color: $color-DarkBlue;
            color: $color-Cream;
        }
    }
 }



 @media (min-width: 768px)
{
    .header {
        padding: 2.5rem 5.2% 0;
        margin-bottom: 5.25rem;

        &__btn 
        {
            font-size: 1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}